* {
    margin: 0;
    padding: 0;
}

/* Styling the header */
.header_home {
    float: left;
    max-width: min(100%, 850px);
    margin-inline: auto;
    /*margin-right: 20px;*/
    /*line-height: 13px;*/
}

/* Styling the navigation */
.title-container ul {
    list-style-type: none;
  /* margin: 0; */
    overflow: hidden;
    background-color: #333;
}

.title-container li {
    float: left;
}

.title-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.title-container li a:hover:not(.active) {
    background-color: #111;
}

/* Styling the active link */
.active {
    background-color: #4CAF50;
}

/* Styling the background */
.background {
    background-color: #656270;
}
/*body {*/
/*    background-color: #DBF9FC;*/
/*}*/