.background {
    background-color: #3a3842;
    background-image: url(https://images.pexels.com/photos/5984612/pexels-photo-5984612.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-repeat: no-repeat;
    background-size: cover;
}